@import '../core';

section.learning-hub-hero {
  .sub-menu {
    min-width: unset;
  }
}

section.hub-highlights {
  .inner-section {
    @include flex-center-col;
  }

  .blog-highlights-container {
    width: 100%;
    @include flex-center;
    // justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 80px 5vw;
    margin: 50px 0;

    .img-container {
      transition: all 0.2s ease;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

section.hub-latest {
  .inner-section {
    @include flex-center-col;
  }

  .blog-link-container {
    align-items: flex-start;
    width: 20vw;
    min-width: 320px;
    max-width: 420px;

    .img-container {
      height: 17vw;
      min-height: 250px;
      max-height: 350px;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .blog-latest-container {
    width: 100%;
    @include flex-center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 60px 3vw;

  }

}

///////////////// BLOG LINK CONTAINER STANDARD STYLES
.blog-link-container {
  @include flex-center-col;
  width: 25vw;
  max-width: 500px;
  min-width: 400px;
  // margin: auto;

  .img-container {
    width: 100%;
    height: 350px;
    margin: 24px 0;
  }

  h4 { margin: 24px 0 0;}
}

.blog-tag-container {
  @include flex-center;
  flex-wrap: wrap;
  width: 100%;

  .blog-tag {
    margin-left: 16px;
    margin-top: 8px;
    line-height: 100%;
    text-align: left;

    &:first-child {
      margin-left: 0;
    }
  }
}

.blog-tag > a,
span.blog-link-date {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease;
  line-height: 100%;
}

.blog-tag > a:hover {
  font-weight: 400;
}

///////////////// END

@media screen and (max-width: $breakpoint1) {
  section.hub-highlights {
    .blog-link-container {
      width: 40vw;
      max-width: 600px;
      min-width: 280px;
      margin: auto;
    }
  }

  section.hub-latest {
    .blog-link-container {
      width: 35vw;
      min-width: 280px;
      max-width: 500px;
      margin: auto;
    }
  }
}

@media screen and (max-width: $breakpoint2) {
  section.hub-highlights,
  section.hub-latest {
    .blog-highlights-container {
      margin: 32px 0;
      grid-gap: 50px 5vw;

      .img-container {
        height: 30vh !important;
        min-height: 220px !important;
      }
    }

    .img-container {
      height: 20vh !important;
      min-height: 200px !important;
    }

    .blog-latest-container {
      grid-gap: 32px 5vw;
    }


    h4 {
      margin-top: 12px;
    }
  }

}
