@import '../core';

section.dark-logostamp {
  background-color: $green02;
  background-image: url('../../../public/imgs/ngc_looseknot_lightgreen_600px.png'), url('../../../public/imgs/ngc_badge_nocopy_lightgreen_600px.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left -350px bottom -350px, right -350px top -350px;

  .inner-section {
    grid-column: lineL3 / lineR3;
    color: white;
    @include flex-center-col;
  }
}

.icon-item-container {
  @include flex-center;
  justify-content: space-between;

  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 32px;

  margin-top: 50px;
  // width: 100%;
}

.item-container {
  // margin-top: 80px;
  @include flex-center-col;
  justify-content: flex-start;
  margin-right: 50px;
  width: 15vw;
  max-width: 300px;
  min-width: 240px;
  height: 100%;

  &:last-child {
    margin-right: 0;
  }

  .icon-item {
    height: 100px;
    width: 100px;
    background: $green01;
    border-radius: 120px;
    @include centerAll;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;

    span {
      font-size: 60px;
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  section.dark-logostamp {
    .icon-item-container {
      grid-template-columns: unset;
      grid-gap: 80px 0;
      width: 100%;
      justify-content: center;

      .item-container {
        margin-right: auto;
        margin-left: auto;
        width: 60vw;
        min-width: 200px;
      }
    }
  }
}
