@import '../core';

section.info-cards {
  background-color: $white02;
  // text-align: center;

  .inner-section {

    &.info-card-container {
      @include flex-center;
      // justify-content: flex-start;
      flex-wrap: wrap;
      grid-gap: 50px 32px;
    }
  }

  .info-card {
    background-color: white;
    padding: 60px 50px;
    min-height: 500px;
    width: 350px;
    text-align: center;
    padding: 50px 32px;

    @include shadow-01;
    @include flex-center-col;
    align-self: stretch;
    justify-content: space-between;

    h4 {
      margin-bottom: 24px;
    }

    p {
      margin-bottom: 16px;
    }

    .link-container {
      width: inherit;
      margin-bottom: 16px;
      display: grid;
      grid-template-columns: [left] auto [center] auto [right];
      grid-gap: 16px 16px;

      .full {
        grid-column: left / right;
      }
      .left {
        grid-column: left / center;
      }
      .right {
        grid-column: center / right;
      }

      a.left,
      a.right {
        text-align: left;
        word-break: break-word;
        // line-height: 125%;
      }

    }

    &.clinic {
      .primary-link {
        margin: auto;
        margin-left: 0;
      }
    }

    .primary-link {
      margin: 0;
      margin-bottom: 32px;
    }

    h3 {
      font-size: 1.1rem;
      padding-top: 3px;
      margin: 0;
    }

    a.btn {
      margin-top: 32px;
      margin-bottom: 0;
    }
  }


}

@media screen and (max-width: $breakpoint0) {

}


@media screen and (max-width: $breakpoint2) {
  section.info-cards {
    .inner-section.info-card-container {
      grid-template-columns: unset !important;
      grid-gap: 50px 0;
    }

    .info-card {
      width: 100% !important;
      max-width: 600px;
      min-height: unset !important;
    }
  }
}
