@import '../core';


.ismedcannright_1 {

  background-color: $white02;

  .inner-section {
    grid-column: lineL2 / lineR2;
  }
}

.issue-card-container {

}

.issue-card {
  background-color: white;
  padding: 50px 2vw;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 2vw;
  border: 2px solid $green03;
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-bottom: 50px;

  .icon-item {
    height: 5vw;
    width: 5vw;
    max-height: 75px;
    max-width: 75px;
    min-height: 60px;
    min-width: 60px;

    background: $green02;
    border-radius: 100%;
    @include centerAll;

    span {
      font-size: 42px;
      color: white;
    }
  }

  a.primary-link {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  section.ismedcannright_1 {
    .inner-section {
        grid-template-columns: unset;
        grid-gap: 80px 0;
    }

    .issue-card {
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .issue-card {
    width: 100%;
    grid-template-columns: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-gap: 32px 0;
  }
}
