@import '../core';


nav {
  padding: 0;
}

//////////////////////////////// REACT TUTORIAL STYLES ////////////////////////////////
.navbar {
  background: $white01;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 99;
  // @include shadow-01;

  width: 100%;

  .inner-section {
  }

  ul, li {
    margin: 0;
  }
}

.navbar-container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  height: 100%;
  // width: 95vw;
  // max-width: 1820px;

  display: grid;
  grid-template-columns: 50% 50%;
  width: inherit;
  width: 100%;
  max-width: 2200px;


  .img-container {
    justify-content: flex-start;
    background-color: white;
  }
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 3vw;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  z-index: 99;
  // width: 450px;

  width: 30vw;
  min-width: 225px;
  max-width: 320px;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  background-color: $green03;
  @include flex-center;
  justify-content: flex-end;
  // display: grid;
  // grid-template-columns: repeat(4, auto);
  // grid-gap: 10px;
  list-style: none;
  text-align: center;
  // justify-content: end;
  height: 100px;

  li:last-child {
    margin-right: 3vw;
  }
}

.nav-item {
  height: 100px;
  @include center-onlyY;
  position: relative;
  background-color: $green03;
  &:first-child {
    padding-left: 17px;
    @include border-radius;
  }
  &:last-child,
  &.last-nav-item {
    padding-right: 17px;
  }
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 24px;
  height: inherit;
  font-family: $font-stack;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.33;
  box-sizing: inherit;

  a {
    font-family: $font-stack;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.33;
  }

  &:hover {
    transition: all 0.2s ease;
  }
}

// .nav-links:hover {
//   border-bottom: 8px solid $orange01;
//   transition: all 0.2s ease-out;
// }

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.dropdown_container {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 240px;
  z-index: 1;
  transition: all 0.2s ease-out;
  @include shadow-01;


  .dropdown-link {
    color: $green04;
    display: inline-block;
    font-family: $font-stack;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.33;
    transition: all 0.2s ease;
  }

  .dropdown-btn {
    padding: 0 20px;
    height: 70px;
    @include centerAll;
    transition: all 0.2s ease;

    &:hover {
      background-color: $greenMain01;
      color: white;
    }
  }
}

.dropdown {
  &:hover {
    .dropdown_container {
      border-top: 8px solid $orange01;
      display: grid;
      grid-template-rows: 70px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%);
      background-color: white;
      z-index: 10;
    }
  }
}

.solo-nav-row {
  @include flex-center;
  grid-gap: 0 50px;

  a {
    font-family: $font-stack;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.33;
    color: white;
  }
}

.mobile-nav-bg {
  display: none;
}

@media screen and (max-width: $breakpoint0) {
  .navbar {
    // background: none;
    // .navbar-container {
    //   grid-template-columns: auto 120px;
    // }

    .img-container {
      background: none;
    }

    .menu-icon {
      background: none;
      padding: 0;
      span.material-symbols-rounded {
        margin: auto;
        margin-right: 40px;
        padding: 5px;
        border-radius: 100%;
        background-color: $green01;
      }
    }
  }

  .mobile-nav-bg {
    background: $green03;
    position: absolute;
    width: 50%;
    right: 0;
    height: 100px;
    top: 0;
    display: inline-block;
  }

  .nav-links {
    font-size: 14px;
    padding: 0.5rem 15px;

    a {
      font-size: 14px;
    }
  }
  .nav-item {
    // padding-left: 50px;
  }

}

// NEED TO FIX THIS BREAKPOINT IS TOO LARGE
// @media screen and (max-width: $breakpoint0) {
@media screen and (max-width: $breakpoint1) {
  .NavbarItems {
    position: relative;
  }

  .solo-nav-link a {
    @include flex-center-col;
    height: 100px;
  }

  nav .only-mobile {
    display: flex !important;
  }

  .nav-menu {
    @include flex-center-col;
    justify-content: flex-start;
    // overflow-y: scroll;
    // display: grid;
    // grid-template-columns: 200p
    width: 100%;
    min-height: 100vh;
    position: absolute;
    padding: 50px 20px;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;

    a.btn {
      margin: 1rem;
    }

    li {
      margin: 0 !important;
    }

  }

  .nav-menu.active {
    background: $green03;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .nav-links {
    @include flex-center;
    text-align: center;
    padding: 2rem;
    width: 100%;

    &:hover,
    &:active {
      @include shadow-02;
    }
  }

  .nav-item {
    min-width: 240px;
    @include flex-center;
    padding: 0 !important;
    @include border-radius;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .menu-icon {
    @include flex-center;
    justify-content: flex-end;
    background-color: $green03;
    cursor: pointer;
    padding-right: 3vw;

    span {
      // margin-right: 3vw;
      font-size: 50px;
      color: white;
      transition: all 200ms ease;
      padding: 2px;
      @include flex-center;
      @include shadow-01;

      &:hover {
        background-color: $orange02 !important;
        // font-size: 54px;
        // padding: 0;
      }
    }

  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }

  .dropdown {
    &:hover {
      .dropdown_container {
        left: 100%;
        bottom: unset;
        transform: unset;
        top: 50%;
        transform: translate(0, -50%);
        border-left: 8px solid $orange01;
        border-top: none;

        &.top-down {
          top: 0 !important;
          transform: unset !important;
        }

        &.bottom-up {
          top: unset !important;
          bottom: 0 !important;
          transform: unset !important;
        }
      }
    }
  }

  span.material-symbols-rounded.home-btn {
    margin: 0;
    padding: 10px;
    font-size: 32px;
    border-radius: 100%;
    background-color: $green01;
    transition: all 200ms ease;
    @include btn-hover-orange;
  }
}

//////////////////////////////// END ////////////////////////////////

@media screen and (max-width: $breakpoint2) {
  .navbar {
    background: none;

    .menu-icon {
      span.material-symbols-rounded {
        margin-right: 20px;
        padding: 3px;
        font-size: 40px;
      }
    }

    .navbar-logo {
      width: 150px;
      min-width: unset;
    }

    .nav-item {
      width: 180px;
      height: 80px;
      min-width: unset;
      margin-bottom: 2vh !important;
    }

    .dropdown {
      &:hover {
        .dropdown_container,
        .top-down,
        .bottom-up {
          transform: translate(0, 80px) !important;
          left: calc((-240px + 180px)/2) !important;
          top: 0 !important;
          width: 240px;
          min-width: unset;
          box-shadow: none;

          border-left: none;
          border-top: 8px solid $orange01;
          // border-bottom: 40px solid $green03;

          .dropdown-btn,
          .dropdown-link {
            width: 240px;
          }
        }
      }
    }
  }
  .navbar,
  .mobile-nav-bg {
    height: 70px;
  }

  .nav-menu {
    &.active {
      padding: 60px 16px;
      overflow-y: scroll;
    }
  }


  .dropdown {

  }

  .mobileRotate {
    transform: rotate(-90deg);
  }

  .mobileNoDropdown {
    &:hover {
      .dropdown_container {
        display: none !important;
      }
    }
  }

  .mobile-nav-bg {
    display: none;
  }
}
