@import '../core';

section.newsletter {
  background-color: $green03;
  color: white;
  @include flex-center-col;

  .newsletter-container {
    @include centerAll;
    max-width: 1000px;
  }

}

form.newsletter-signup {
  margin-top: 24px;
  @include center-selfX;
  display: flex;
  align-content: center;
  font-family: $font-stack;

  .newsletter-inputs {
    background-color: $green02;
    padding: 10px 24px;
    border-radius: 32px;
    margin-right: 16px;
    max-width: 720px;
    min-width: 40vw;
    display: flex;
    align-content: center;
    justify-content: space-between;

    div {

      &:nth-child(1) {
        width: 47%;
        margin-left: 0;
      }
      &:nth-child(2) {
        width: 50%;
        margin-right: 0;
        padding-left: 30px;
        border-left: 0.5px solid $grey02;
      }
    }

    input {
      height: 40px;
      width: 100%;
      color: white !important;
      background-color: none !important;

      &#dark-input {
        &::placeholder {
          color: $greenMain01 !important;
        }

        &:autofill {
          background-color: $green02 !important;
        }
        &:-webkit-autofill {
          background-color: $green02 !important;

          &:focus {
            background-color: $green02 !important;
          }
        }
        &:-internal-autofill-selected {
          background-color: $green02 !important;
        }
      }
      // @include center-onlyY;
    }
  }

  button[type="submit"] {
    @include centerAll;
    width: 60px;
    height: 60px;

    .btn-submit {
      color: white;
      background: $orange01;
      border-radius: 100%;
      font-size: 32px;
      padding: 8px;
      margin: auto;
      border: 2px solid $orange01;
      transition: all 0.2s ease;

      @include btn-hover-orange;
    }
  }
}


@media screen and (max-width: $breakpoint1) {
  section.newsletter {

    .newsletter-container {
      width: 80vw;
    }

    .newsletter-signup {
      width: 100%;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
    .newsletter-inputs {
      background: none;
      flex-direction: column;
      margin-right: 0;
      width: 100%;
      max-width: unset;

      & > div {
        background-color: $green01;
        padding: 10px 24px;
        border-radius: 50px;
        width: unset !important;
        margin-bottom: 24px;
      }
    }

    .btn-submit {
      padding: 12px 40px !important;
      border-radius: 32px !important;
    }
  }

}

@media screen and (max-width: 600px) {
  section.newsletter {
    .newsletter-inputs {
      padding: 0;
    }
  }
}
