@import '../core';

section.shop-hero {

  .shop-sub-menu-container {
    margin-top: 50px;
  }

  .text-container {
    width: 40vw;
    min-width: 500px;
  }

  .sub-menu {
    @include flex-center;
    justify-content: flex-start;
    border: 1px solid $green04;
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.20);
    width: 80vw;
    max-width: 1500px;
    min-width: 80vw;
    overflow-x: scroll;
    background-color: white;

    a.btn {
      margin: 0;
      margin-right: 24px;
    }

    button.btn {
      // @include shadow-02;
      @include btn-hover-green;

      &:hover {
        @include shadow-02;

        .svg-hover-lightgrey {
          filter: invert(100%) sepia(7%) saturate(20%) hue-rotate(251deg) brightness(111%) contrast(82%);
        }
      }
    }

    .btn.sub-menu-btn {
      @include flex-center;
      justify-content: space-between;
    }
  }
}

section.learning-hub-hero {
  .inner-section {

  }

  .shop-sub-menu-container {
    margin-top: 50px;
  }

  .sub-menu {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;

    a.btn {
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .img-container.hub-hero-img {
    padding-top: 3vw;
    align-content: flex-start;
    margin-bottom: auto;
  }

}

@media screen and (max-width: $breakpoint1) {
  section.shop-hero {
    .sub-menu {
      width: 90vw;
      min-width: unset;
      max-width: 100%;
    }

    .sticky-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      padding: calc(100px + 20px) 5vw 20px;
      background: white;
      @include shadow-01;
      .sub-menu {
        margin: 0;
      }
    }


  }

  section.learning-hub-hero {
    .inner-section {
      grid-template-columns: unset;

      .hub-hero-img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  section.shop-hero {
    .text-container {
      width: 100%;
      min-width: unset;
    }
  }
}
