@import '../core';


section.window {
  padding: 0;
  background-color: $green04;
  color: white;
  // background-image: url('../../../public/imgs/ngc_logo_knot_grey1.png');
  // background-repeat: no-repeat;
  // background-position: right -400px top 50%;
  // background-size: 1500px;

  .inner-section {
    grid-column: left / right;
  }

  h3 {
    color: $white02;
  }

  .window-row {
    width: 100%;
    // min-height: 700px;
    // max-height: 1000px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [left] 50% [center] 50% [right];
    grid-gap: 0;
    padding: 0;

    .img-container img {
      // @include img-full-height;
    }

    &.height-sm {
      min-height: 600px;

      .img-container {
        max-height: 800px;
      }
    }

    &.height-md {
      min-height: 850px;
      .img-container {
        max-height: 1000px;
      }

    }

    &.height-lg {
      min-height: 1000px;

      .img-container {
        max-height: 1200px;
      }
    }


    .window-left,
    .window-right {
      @include center-onlyY;
      height: inherit;

      &.text-container {
        padding: 130px 0;
        margin: 0 auto;
        width: 40vw;
        max-width: 650px;
        min-width: 450px;
      }

      .img-container {
        background-color: $blue01;
      }

      &.img-window {
        background-color: $blue02;
      }
    }

    .window-left {
      grid-column: left / center;
    }

    .window-right {
      grid-column: right / center;
    }
  }

  .button-row {
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  section.window {

    .window-row {
      grid-template-columns: unset;
      grid-template-rows: [top] auto [center] auto [bottom];

      .window-left,
      .window-right {
        grid-column: unset !important;
      }
    }

    .img-window {
      background-color: $white02 !important;
      grid-column: unset !important;
      height: 250px !important;
      grid-row: top / center !important;


      .img-container {
        position: relative !important;
        width: 80vw !important;
        margin: auto !important;
        top: 125px !important;
        border-radius: 5px !important;
        height: 400px !important;
      }
    }

    .text-container {
      margin-top: 200px !important;
      width: 80vw !important;
      min-width: 280px !important;
      grid-row: center / bottom !important;
      padding: 100px 0 !important;
    }

    .mobile-bg-green02 {
      .img-window {
        background-color: $green04 !important;
      }
    }
  }
}
