@import './core';

p, a, input, input::placeholder {
  @include standard-p-styles;
}

p, h1, h2, h3, h4, h5, h6 {
  // width: inherit;
}

p {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  &.sm {
    font-size: 0.9rem;
    line-height: 1.8rem;
    letter-spacing: 0.013rem;

    * {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &.h1-style {
    font-size: 3.125rem;
    line-height: 3.75rem;
    letter-spacing: 0.031rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  &.h4-style {
    font-size: 1.75rem;
    line-height: 2.375rem;
    letter-spacing: 0.016rem;
    font-weight: 800;
    margin-bottom: 32px;
  }
}
input::placeholder {
  font-weight: 300;
  letter-spacing: 0.06rem;
}

h1, h2 {
  font-size: 3.125rem;
  line-height: 3.75rem;
  letter-spacing: 0.031rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
  color: $green04;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: 0.016rem;
  font-weight: 800;
  margin-bottom: 32px;
  text-transform: capitalize;
}

h5 {
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: 0.031rem;
  font-weight: 800;
}

h6,
a.h6-style {
  font-size: 0.875rem;
  line-height: 1.063rem;
  letter-spacing: 0.063rem;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  width: auto;

  &.primary-link {
    font-weight: 400;
    display: inline-flex;
    position: relative;
    text-transform: uppercase;
    padding: 0.2em 0;
    border-bottom: 1px solid $green04;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    transition: all 200ms ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(0.1em - 1px);
      background-color: $green04;
      opacity: 0;
      transition: opacity 200ms, transform 200ms;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translate3d(0, calc(0.1em - 1px), 0);
    }

    & > span.material-symbols-rounded {
      position: relative;
      transform: translate(0, 7px);
      transition: all 300ms ease;
    }

    &:hover {
      border-bottom: 2px solid $green04;
      // padding-bottom: 3px;

      & > span.material-symbols-rounded.arrow {
        transform: translate(5px, 7px);
      }
    }

    &.sm-primary-link {
      font-size: 1rem;
      padding-bottom: 2px;
    }
  }

  &.link-centered {
    margin: unset;
    text-align: center;
  }

  &.dark-link {
    color: white;
    border-color: white;

    &:hover {
      color: white;
      border-color: white;
    }
  }
}

span {
  &.link-separator {
    font-weight: 400;
    margin-left: 16px;
    margin-right: 16px;
  }
}

ul, ol {
  margin: 24px 0;

  li {
    margin-bottom: 16px;
  }

  &.list-styled {
    margin-left: 2rem;
    margin-bottom: 2rem;

    li {
      color: $green04;
      margin-bottom: 12px;

      &::before {
        content: "\2022";
        color: $green02;
        font-weight: bold;
        display: inline-block;
        width: 1.5rem;
        margin-left: -1rem;
      }
    }
  }

  &.major-list {
    span.title {
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 180%;
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      margin-bottom: 24px;
    }

    li {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}



@media screen and (max-width: $breakpoint0) {
  p, a, input, input::placeholder {
    font-size: 1rem;
    line-height: 1.85rem;
  }

  h1, h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  h3 {
    font-size: 0.75rem;
    line-height: 0.938rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 24px;
  }

  a {
    &.primary-link {
      font-size: 13px;
      padding: 0.1em 0;
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
  }
}

@media screen and (max-width: $breakpoint2) {
  a {
    word-wrap: break-word;
  }
}
